<div class="container">
  <h1>Welcome to The Sneaker Closet App</h1>
  <br>
  <p>Where you can organize all your sneakers in your collection!</p>
  <a href="/login">Log In</a> OR  <a href="/signup">Sign Up</a>
</div>
