<form action="/sneakers/new" method="POST">

 <label><h4>Create New Sneaker Name:</h4></label>
  <label>Name:</label>
  <input type="text" id="sneaker.name" name="sneaker[name]">
  <label>Sneaker Image:</label>
  <input type="text" id="sneaker.image_url" name="sneaker[image_url]">
  <label>Sneaker Category:</label>
  <input type="text" id="sneaker.category" name="sneaker[category]">
  <label>Sneaker Description:</label>
  <input type="text" id="sneaker.description" name="sneaker[description]">
  <input type="submit" value="Create New Sneaker" id="submit">
</form>
